* {
    font-family: "Open Sans", arial, 'Apple SD Gothic Neo', 'Noto Sans CJK KR', '본고딕', 'KoPubDotum Medium', '나눔바른고딕', '나눔고딕', 'NanumGothic', '맑은고딕', 'Malgun Gothic',  sans-serif;
}

/* 전역 색상 설정 */

:root {
    --color-busan: #808080;
    --color-usn: #A0A000;
    --color-rn: #E4A040;
    --color-ijn: #003E14;
    --color-km: #50994B;
    --color-mn: #126978;
    --color-sn: #556B2F;
    --color-rm: #967649;
    --color-underbar: #9A9A9A;
}

header {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8EB4E3;
}

.searchbox {
    background-color: #8EB4E3;
}

body {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #B0B0B0;
    border-right: 1px solid #B0B0B0;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    max-width: 1150px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8EB4E3;
}

#imagemiddle {
    vertical-align: middle;
}

body, th, td, div, p, li {
    font-size: 0.9rem;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #B0B0B0;
    margin-top: 10px;
    margin-bottom: 10px;
}

td, th {
    border: 1px solid #B0B0B0;
    padding: 5px 5px;
    text-align: center;
}

td {
    background-color: #F8F8F8;
}

a {
    color: #2087E0;
    text-decoration: none;
}

.external {
    background: url(../wiki/images/external.png) center left no-repeat;
    padding-left: 18px;
    color: #00B050;
}

.parent {
    background: url(../wiki/images/parenticon.png) center left no-repeat;
    padding-left: 18px;
}

#white {
    color: #FFFFFF;
}

/* 전체 트리 템플릿에 적용 */

.totaltree {
    width: 100%;
}

.totaltree th {
    color: #FFFFFF;
}
    
#treetitle {
    background-color: #303030;
}

#treetotalbusan {
    background-color: var(--color-busan);
}

#treetotalusn {
    background-color: var(--color-usn);
}

#treetotalrn {
    background-color: var(--color-rn);
}

#treetotalijn {
    background-color: var(--color-ijn);
}

#treetotalkm {
    background-color: var(--color-km);
}

#treetotalmn {
    background-color: var(--color-mn);
}

#treetotalsn {
    background-color: var(--color-sn);
}

#treetotalrm {
    background-color: var(--color-rm);
}

/* 주포 배열 표 */

.gunarrange th {
    background-color: #F8F8F8;
}

.gunarrange td {
    background-color: #FFFFFF;
}

#frontmaingun {
    background-color: #1030D0;
    color: #FFFFFF;
}

#frontsubgun {
    background-color: #90C0FF;
    color: #FFFFFF;
}

#rearmaingun {
    background-color: #22741C;
    color: #FFFFFF;
}

#rearsubgun {
    background-color: #86E57F;
    color: #FFFFFF;
}

/* 부산 계통도, 스펙표, 컴포넌트표 설정 */

.busantree th {
        background-color: var(--color-busan);
        color: #FFFFFF;
}

.busantree td {
        border: 0px;
        background-color: #FFFFFF;
}

.busanspec th {
        background-color: var(--color-busan);
        color: #FFFFFF;
}

.busancomponents {
    width: 100%;
}
    
.busancomponents th {
        background-color: var(--color-busan);
        color: #FFFFFF;
}

.update {
    text-align: right;
}

.paratitle {
    padding-top: 20px;
    font-size: 1.2em;
    font-weight: bold;
}

h1 {
    font-size: 2.2em;
    border-bottom: none;
}

h2 {
    font-size: 1.9em;
    border-bottom: 1px solid var(--color-underbar);
}

h3 {
    font-size: 1.6em;
    border-bottom: 1px solid var(--color-underbar);
}

h4 {
    font-size: 1.4em;
    border-bottom: 1px solid var(--color-underbar);
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}
