* {
    background-color: #EFEFEF;
}

:root {
    --color-busan: #808080;
    --color-usn: #808080;
    --color-rn: #808080;
    --color-ijn: #808080;
    --color-km: #808080;
    --color-mn: #808080;
    --color-sn: #808080;
    --color-rm: #808080;
    --color-underbar: #9A9A9A;
}

header {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8EB4E3;
}

searchbox {
    background-color: #8EB4E3;
}

body {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px;
    border-right: 1px;
    border-color: #B0B0B0;
    padding: 0px 10px 0px 10px;
}

footer {
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #8EB4E3;
}

.page-content {
    background-color: #FFFFFF;
}

body, th, td, div, p, li {
    font-size: 0.9rem;
    line-height: 1.5;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #B0B0B0;
    margin-top: 10px;
    margin-bottom: 10px;
}

td, th {
    border: 1px solid #B0B0B0;
    padding: 5px 5px;
    text-align: center;
}

td {
    background-color: #F8F8F8;
}

a {
    color: #2087E0;
    text-decoration: none;
}

#white {
    color: #FFFFFF;
}

.totaltree {
    width: 100%;
}

.totaltree th {
    color: #FFFFFF;
}
    
#treetitle {
    background-color: #303030;
}

#treetotalbusan {
    background-color: var(--color-busan);
}

#treetotalusn {
    background-color: var(--color-usn);
}

#treetotalrn {
    background-color: var(--color-rn);
}

#treetotalijn {
    background-color: var(--color-ijn);
}

#treetotalkm {
    background-color: var(--color-km);
}

#treetotalmn {
    background-color: var(--color-mn);
}

#treetotalsn {
    background-color: var(--color-sn);
}

#treetotalrm {
    background-color: var(--color-rm);
}

.gunarrange th {
    background-color: #F8F8F8;
}

.gunarrange td {
    background-color: #FFFFFF;
}

#frontmaingun {
    background-color: #3060D0;
    color: #FFFFFF;
}

#frontsubgun {
    background-color: #5090E0;
    color: #FFFFFF;
}

#rearmaingun {
    background-color: #2F9D27;
    color: #FFFFFF;
}

#rearsubgun {
    background-color: #1DDB16;
    color: #FFFFFF;
}

.busantree th {
        background-color: var(--color-busan);
        color: #FFFFFF;
}

.busantree td {
        border: 0px;
        background-color: #FFFFFF;
}

.busanspec th {
        background-color: var(--color-busan);
        color: #FFFFFF;
}

.busancomponents {
    width: 100%;
}
    
.busancomponents th {
        background-color: var(--color-busan);
        color: #FFFFFF;
}

.update {
    text-align: right;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.9em;
    border-bottom: 1px solid var(--color-underbar);
}

h3 {
    font-size: 1.6em;
    border-bottom: 1px solid var(--color-underbar);
}

h4 {
    font-size: 1.4em;
    border-bottom: 1px solid var(--color-underbar);
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}
