<table class="totaltree">
	<tr id="treetitle">
		<th colspan="2">항구</th>
		<th>현재 소유 함대(수비 측)</th>
		<th>공격 측</th>
		<th>진행 예정 시각</th>
	</tr>
	<tr>
		<th></th>
		<th id="treetotalusn">뉴욕 항</th>
		<td>Olympus1st</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th></th>
		<th id="treetotalrn">런던 항</th>
		<td>Top Ace</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th></th>
		<th id="treetotalijn">도쿄 항</th>
		<td>DCinside</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th></th>
		<th id="treetotalkm">함부르크 항</th>
		<td>Top Ace</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th></th>
		<th id="treetotalmn">툴롱 항</th>
		<td>n.o.v</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th></th>
		<th id="treetotalsn">발티스크 항</th>
		<td>싸움닭</td>
		<td>Tale of Whales</td>
		<td>2021. 3. 26 19:10</td>
	</tr>
	<tr>
		<th></th>
		<th id="treetotalrm">타란토</th>
		<td>DCinside</td>
		<td></td>
		<td></td>
	</tr>
</table>