<table class="totaltree">
	<tr>
		<th id="treetitle" colspan="8">네이비필드 테크 트리 일람</th>
	</tr>
	<tr>
		<th id="treetotalbusan"><a href="https://get-raved.github.io/wiki/docs/neutraltree.md">중립</a></th>
		<td>프리깃 및 구축함</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th id="treetotalusn">미국</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="treetotalrn">영국</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="treetotalijn">일본</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="treetotalkm">독일</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="treetotalmn">프랑스</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="treetotalsn">소련</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="treetotalrm">이탈리아</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
</table>