<table class="totaltree">
	<tr>
		<th id="totalbusan">중립</th>
		<td>프리깃 및 구축함</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th id="totalusn">미국</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="totalrn">영국</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="totalijn">일본</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="totalkm">독일</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="totalmn">프랑스</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="totalsn">소련</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
	<tr>
		<th id="totalrm">이탈리아</th>
		<td>구축함 및 순양함</td>
		<td>전함</td>
		<td>항공모함</td>
		<td>잠수함</td>
		<td>프리미엄/이벤트</td>
		<td>유니크</td>
		<td>주요 함포</td>
	</tr>
</table>